.favourites {
  margin-bottom: 1rem;
  min-width: 20vw;
}

.favourites * {
  padding: 0;
  margin: 0;
}

.favourites li {
  padding: 5px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favourites li:hover,
.favourites li:hover * {
  cursor: pointer;
  background-color: #636363;
  color: white;
  border-radius: 5px;
}

.name {
  display: flex;
  flex-direction: column;
}

.cityInfo {
  font-size: 8px;
  margin-right: 15px;
}

.unavailable {
  font-size: small;
  padding: 5px 10px !important;
}
