.card {
  position: relative;
  text-align: left;
  max-width: 60rem;
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.weatherInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.addInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}
